.floating-item {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

.floating-item-low {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

  